.video{
    position: absolute;
    opacity: 0.8;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
link {
    display: none;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
p {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/*@media screen and (max-width: 600px) {
    .video {
        width: auto;
        height: auto;
    }
    h1, p {
        font-size: 16px;
    }
    
}
    */
